@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,400i&display=swap');
*{
  margin: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body
{
 font-family: 'Lobster Two', cursive;
  background: white;
}
p{
  font-size: 30%;
}


.top{
  background: url(topbk1.png);
   width: 100%;
   height: 100vh;
  margin-top: 0.8%;
  background-size: contain;
  background-repeat:repeat-x;
  background-attachment: fixed;
}

.top2{
  background: url(toilet.jpeg);
  width: 100%;
  padding: 20%;
  margin-top: 0.5%;
  background-size: contain;
  background-repeat: repeat-y;
}
.top1{
  background: url(1.jpg);
   width: 100%;
   padding: 20%;
  margin-top: 0.5%;
   background-size:contain;
}
.top3{
  background: url(kids.png);
 	width: 100%;
 padding: 20%;
  margin-top: 0.5%;
  background-size: contain;
}
.top4{
background: url(no.jpg);
 	width: 100%;
  margin-top: 0.5%;
  padding: 20%;
  background-size: contain;
}
.topnav {
    background-color:#1cabe2;;
    overflow: hidden;
    padding: 10%;
    margin-bottom: -6%;
}
#mytopnav a {
    float: left;
    display: block;
    color: white;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    margin-right: 10px;
}
.footer-img{
  width: 28%;
  height: 28%;
}

.heading{
  
	color: black;
	margin: -4px;
  font-size: 90px;
  justify-content: center;
  align-content: center;
   padding: 5% ;
  
}
#align{
  align-content: center;
  justify-content: center;
}

h2{
  	color:black;
   	background-color: #01adef;
    padding: 15px;
    clear: both;
    opacity: 0.8;
    font-size:60px;
}

section{
  align-content: center;
  margin-left: 15%;
  margin-right:15%;
}

footer{
   color:#184e3c;
   font-size: 20px;
  font-style:italic;
  margin-top: 10px;
  margin-left: 20%;
}
.copy{
 font-family: 'Lobster Two', cursive;
}
.style{
  
  font-weight: bold;
  font-size: 30px;
}
a:hover{
  color:black;
  padding:35px;
  border-radius:20px;
  cursor: pointer;
}
h2:hover{
  cursor: pointer;
  border-radius: 50px;
}
.top3:hover,.top2:hover,.top1:hover, .top4:hover{
  cursor: pointer;
  border-radius: 50px;
}
.copy:hover{
  font-size: 40px;
}
h1:hover{
  color:rgba(32, 31, 31, 0.8) ;
}
